---
layout: default
title : Creativity
navbar_title: Creativity
body_attr: >-
  data-spy="scroll" data-target="#navbar-folder" data-offset="100"
---
{% assign pubs_by_folder = site.publications | group_by_exp: "item", "item.path | split: '/' | slice: -2, 1" %}

<div class="row">
    <!-- 左侧内容显示区域 -->
  <div class="col-12 col-lg-10">
  {% for folder_group in pubs_by_folder %}
    {% assign folder_name = folder_group.name %}
    <h2 class="pt-4" id="folder-{{ folder_name | downcase }}">{{ folder_name }}</h2>
    <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
      <!-- 判断文件类型并选择显示图片或视频 -->
      {% assign first_item = folder_group.items[0] %}
      {% if first_item.url contains '.jpg' or first_item.url contains '.png' or first_item.url contains '.jpeg' %}
        <!-- 显示图片 -->
        <div class="image-gallery">
          {% for item in folder_group.items %}
            < img src="{{ item.url }}" alt="{{ item.title }}" class="img-fluid">
          {% endfor %}
        </div>
      {% elsif first_item.url contains '.mp4' or first_item.url contains '.webm' or first_item.url contains '.ogg' %}
        <!-- 显示视频 -->
        <div class="video-gallery">
          {% for item in folder_group.items %}
            <video controls>
              <source src="{{ item.url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          {% endfor %}
        </div>
      {% else %}
        <!-- 显示出版物（默认情况） -->
        {% for item in folder_group.items %}
          {% include widgets/publication_item.html item=item %}
        {% endfor %}
      {% endif %}
    </div>
  {% endfor %}
</div>

    <!-- 右侧导航栏 -->
    <div class="col-2 d-none d-lg-block">
        <div id="navbar-folder" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for folder_group in pubs_by_folder %}
            {% assign folder_name = folder_group.name %}
            <a class="nav-link d-block" href="#folder-{{ folder_name | downcase }}">{{ folder_name }}</a>
            {% endfor %}
        </div>
    </div>
</div>

