---
layout: default
title : Researches
navbar_title: Researches
body_attr: >-
  data-spy="scroll" data-target="#navbar-folder" data-offset="100"
---
{% assign pubs_by_folder = site.publications | group_by_exp: "item", "item.path | split: '/' | slice: -2, 1" | replace_first: "resource", "project" | replace_first: "publication", "resource" | replace_first: "project", "publication"  %}

<div class="row">
    <!-- 左侧内容显示区域 -->
    <div class="col-12 col-lg-12">
        {% for folder_group in pubs_by_folder %}
        {% assign folder_name = folder_group.name %}
        <h2 class="pt-4" id="folder-{{ folder_name | downcase }}">{{ folder_name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
            <!-- 显示每个文件夹组的所有出版物 -->
            {% for item in folder_group.items %}
                {% include widgets/publication_item.html item=item %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</div>
