{% assign item = include.item %}
<div class="d-none d-md-block">
    <div class="row no-gutters border-bottom border-gray">
        <!-- 根据 cover 的类型调整列的占比 -->
        {% if item.cover1 contains '.mp4' %}
            <!-- 如果是视频，每行显示两个 -->
            <div class="col-md-6 mb-md-0 p-md-3">
                <video class="w-100 rounded-sm media-item" controls>
                    <source src="{{ item.cover1 | relative_url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-md-6 mb-md-0 p-md-3">
                <video class="w-100 rounded-sm media-item" controls>
                    <source src="{{ item.cover2 | relative_url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        {% elsif item.cover1 contains '/design/' %}
            <!-- 如果是长图，每行显示6个 --> 
               <div class="col-md-2 mb-md-0 p-md-3">
                    <div class="image-container">
                        <img data-src="{{ item.cover4 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover4 | relative_url }}">
                    </div>
                    <div  class="row">
                    <div class="poster-footer">
                        <hr>
                        <a href="{{ item.original_link1 }}" class="original-link font-weight-bold">Link<i class="fas fa-angle-double-right"></i></a > <!-- 添加原文链接 -->
                    </div>
                    </div>
                </div>
                <div class="col-md-2 mb-md-0 p-md-3">
                    <div class="image-container">
                        <img data-src="{{ item.cover5 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover5 | relative_url }}">
                    </div>
                    <div  class="row">
                    <div class="poster-footer">
                        <hr>
                        <a href="{{ item.original_link1 }}" class="original-link font-weight-bold">Link<i class="fas fa-angle-double-right"></i></a > <!-- 添加原文链接 -->
                    </div>
                    </div>
                </div>
                <div class="col-md-2 mb-md-0 p-md-3">
                    <div class="image-container">
                        <img data-src="{{ item.cover3 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover3 | relative_url }}">
                    </div>
                    <div  class="row">
                    <div class="poster-footer">
                        <hr>
                        <a href="{{ item.original_link1 }}" class="original-link font-weight-bold">Link<i class="fas fa-angle-double-right"></i></a > <!-- 添加原文链接 -->
                    </div>
                    </div>
                </div>
                    <div class="col-md-2 mb-md-0 p-md-3">
                    <div class="image-container">
                        <img data-src="{{ item.cover1 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover1 | relative_url }}">
                    </div>
                   <div  class="row">
                    <div class="poster-footer">
                        <hr>
                        <a href="{{ item.original_link1 }}" class="original-link font-weight-bold">Link<i class="fas fa-angle-double-right"></i></a > <!-- 添加原文链接 -->
                    </div>
                    </div>
                </div>
                <div class="col-md-2 mb-md-0 p-md-3">
                    <div class="image-container">
                        <img data-src="{{ item.cover2 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover2 | relative_url }}">
                    </div>
                   <div  class="row">
                    <div class="poster-footer">
                        <hr>
                        <a href="{{ item.original_link1 }}" class="original-link font-weight-bold">Link<i class="fas fa-angle-double-right"></i></a > <!-- 添加原文链接 -->
                    </div>
                    </div>
                </div>
                <div class="col-md-2 mb-md-0 p-md-3">
                    <div class="image-container">
                        <img data-src="{{ item.cover6 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover6 | relative_url }}">
                    </div>
                 <div  class="row">
                    <div class="poster-footer">
                        <hr>
                        <a href="{{ item.original_link1 }}" class="original-link font-weight-bold">Link<i class="fas fa-angle-double-right"></i></a > <!-- 添加原文链接 -->
                    </div>
                    </div>
                </div>
        {% else %}
            <!-- 如果是图片，每行显示三个 -->
            <div class="col-md-4 mb-md-0 p-md-3">
                <img data-src="{{ item.cover1 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover1 | relative_url }}">
            </div>
            <div class="col-md-4 mb-md-0 p-md-3">
                <img data-src="{{ item.cover2 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover2 | relative_url }}">
            </div>
            <div class="col-md-4 mb-md-0 p-md-3">
                <img data-src="{{ item.cover3 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover3 | relative_url }}">
            </div>
        {% endif %}
    </div>
</div>

<!-- 样式调整 -->
<style>

.poster-footer hr {
    border: 0;
    height: 1px;
    color: grey;
}

.poster-footer a {
    color: blue; /* 链接颜色 */
    font-weight: bold;
     text-align: right;
}    
.image-container {
    overflow: hidden; /* 隐藏超出容器的内容 */
    height: 300px; /* 根据需要调整 */
    position: relative; /* 使绝对定位生效 */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* 宽度填满容器 */
    height: auto; /* 保持纵横比 */
    animation: slide 10s linear infinite paused; /* 默认动画状态为暂停 */
}

.image-container:hover img {
    animation: slide 10s linear infinite; /* 鼠标悬停时开始滚动 */
}

@keyframes slide {
    0% {
        top: 0; /* 起始位置 */
    }
    100% {
        top: -100%; /* 向上滚动 */
    }
}

.original-link {
    position: absolute;
    text-align: right;
    transform: translateX(-50%)
    background-color: rgba(255, 255, 255, 1); /* 半透明背景 */
    border-radius: 5px; /* 圆角 */
    text-decoration: none; /* 去掉下划线 */
    color: #000; /* 字体颜色 */
    z-index: 1; /* 确保链接在图片上方 */
}


.image-container:hover img {
    animation-play-state: running; /* 鼠标悬停时滚动 */
}

.media-item {
    height: 300px; /* 固定高度，保持布局整齐 */
    width: auto;
    object-fit: contain; /* 保持宽高比并裁剪 */
}
* {
  margin: 0;
  padding: 0;
}

.box {
  width: 640px;
  height: 300px;
  border: 1px solid gray;
  margin: 100px auto;
  /*超出部门隐藏*/
  overflow: hidden;
  position: relative;
}

.box-top,.box-bottom{
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
}

.box-top {
  top: 0;
}

.box-bottom {
  bottom: 0;
}

.box img {
  position: absolute;
  left: 0;
  top: 0;
}

</style>


