{% assign item = include.item %}
<div class="d-none d-md-block">
    <div class="row no-gutters border-bottom border-gray">
        <div class="col-md-12 mb-md-0 p-md-3">
            <!-- 如果item是图片，显示图片；如果是视频，显示视频 -->
            {% if item contains '.mp4' %}
            <!-- 如果是视频，显示视频 -->
            <video class="w-100 rounded-sm" controls>
                <source src="{{ item | relative_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% else %}
            <!-- 如果是图片，显示图片 -->
            <img data-src="{{ item | relative_url }}" alt="Media" class="lazy w-100 rounded-sm" src="{{ '/assets/images/empty_300x200.png' | relative_url }}">
            {% endif %}
        </div>
    </div>
</div>

<div class="card w-100 d-md-none border-top-0 border-right-0 border-left-0 rounded-0">
    <!-- 移动端显示 -->
    {% if item contains '.mp4' %}
    <!-- 如果是视频，显示视频 -->
    <video class="w-100" controls>
        <source src="{{ item | relative_url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% else %}
    <!-- 如果是图片，显示图片 -->
    <img data-src="{{ item | relative_url }}" alt="Media" class="lazy card-img w-100" src="{{ '/assets/images/empty_300x200.png' | relative_url }}">
    {% endif %}
</div>
