{% assign publications = include.publications %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star" style="color: red;"></i> Selected Recent Publications{% endif %}
    </h6>
    
    <div class="container">
        <div class="row">
            {% for item in publications limit:include.limit %}
            <div class="{% if item.video_url %}col-md-6{% else %}col-md-4{% endif %} mb-3">
                <div class="media-item">
                    {% if item.cover %}
                    <!-- 图片 -->
                    <img src="{{ item.cover | relative_url }}" alt="Media" class="w-100 rounded-sm" style="object-fit: cover; height: 200px;">
                    {% elsif item.video_url %}
                    <!-- 视频 -->
                    <video class="w-100 rounded-sm" controls style="height: 200px;">
                        <source src="{{ item.video_url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {% else %}
                    <!-- 占位符 -->
                    <svg class="bubble-visual-hash lazy w-100 rounded-sm" data-bubble-visual-hash="{{ item.id }}" viewBox="0 0 300 200"></svg>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <h6 class="d-block p-3 mt-0 text-right">
        <a href="{{ 'Researches' | relative_url }}">All researches <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>
