<div class="d-none d-md-block">
    <div class="row no-gutters border-bottom border-gray">
        <div class="col-md-12 mb-md-0 p-md-3">
            {%- if item.cover -%}
            <!-- 如果有图片，显示图片 -->
            <img data-src="{{ item.cover | relative_url }}" alt="Media" class="lazy w-100 rounded-sm" src="{{ '/assets/images/empty_300x200.png' | relative_url }}">
            {%- elsif item.video_url -%}
            <!-- 如果有视频，显示视频 -->
            <video class="w-100 rounded-sm" controls>
                <source src="{{ item.video_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {%- else -%}
            <!-- 如果都没有，显示占位符 -->
            <svg class="bubble-visual-hash lazy w-100 rounded-sm" data-bubble-visual-hash="{{ item.id }}" viewBox="0 0 300 200"></svg>
            {%- endif -%}
        </div>
    </div>
</div>

<div class="card w-100 d-md-none border-top-0 border-right-0 border-left-0 rounded-0">
    {%- if item.cover -%}
    <!-- 移动端图片显示 -->
    <img data-src="{{ item.cover | relative_url }}" alt="Media" class="lazy card-img w-100" src="{{ '/assets/images/empty_300x200.png' | relative_url }}">
    {%- elsif item.video_url -%}
    <!-- 移动端视频显示 -->
    <video class="w-100" controls>
        <source src="{{ item.video_url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {%- else -%}
    <!-- 占位符 -->
    <svg class="bubble-visual-hash lazy w-100 rounded-sm" data-bubble-visual-hash="{{ item.id }}" viewBox="0 0 300 200"></svg>
    {%- endif -%}
</div>
