<div class="row mt-3">
    <!-- Education Card -->
    <div class="col-md-6">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                {% if site.data.profile.education %}
                <h6>Education</h6>
                <ul class="list-unstyled mb-1">
                    {% for item in site.data.profile.education %}
                    <li class="media mb-1">
                        <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                        <div class="media-body" style="line-height: 2;">
                            <div style="color: grey;">{{ item.name }}</div>
                            <div class="small" style="color: grey;">{{ item.dept }}</div>
                            <div class="small d-flex">
                                <div style="color: grey;">{{ item.position }}</div>
                                <div class="mt-auto ml-auto no-break" style="color: grey;"><em>{{ item.date }}</em></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Experience Card -->
    <div class="col-md-6">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                {% if site.data.profile.experience %}
                <h6>Experience</h6>
                <ul class="list-unstyled mb-1">
                    {% for item in site.data.profile.experience %}
                    <li class="media mb-1">
                        <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                        <div class="media-body" style="line-height: 2;">
                            <div style="color: grey;">{{ item.name }}</div>
                            <div class="small" style="color: grey;">{{ item.dept }}</div>
                            <div class="small d-flex">
                                <div style="color: grey;">{{ item.position }}</div>
                                <div class="mt-auto ml-auto no-break"style="color: grey;"><em>{{ item.date }}</em></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
    .badges-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }
    .gallery-link {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 3px;
      text-align: right;
    }
    .badge {
        display: inline-flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        margin: 5px;
        font-size: 0.9em;
    }
    .break {
        flex-basis: 100%;  /* 强制换行 */
        height: 0;         /* 不显示额外空间 */
    }
    .python { background-color: #205EA7; }
    .matlab { background-color: #38B6C4; }
    .cplusplus { background-color: #B8E5FA; }
    .java { background-color: #3BB6C5; }
    .rlang { background-color: #3BB6C5; }
    .pytorch { background-color: #205EA7; }
    .tensorflow { background-color: #205EA7; }
    .cuda { background-color:#1D91C2; }
    .Linux { background-color: #B8E5FA; }
    .arcgis { background-color: #B8E5FA; }
    .latex { background-color: #38B6C4; }
    .docker { background-color: #1D91C2; }
    
    .Design { background-color:#B2DBB9; }
    .Knit { background-color: #7ECBB9; }
    .Crochet { background-color: #7ECBB9; }
    .Non-fiction { background-color: #EAF0B2; }
    .Dance { background-color: #7ECBB9; }
    .Aerobics { background-color: #B2DBB9; }
    .Fashon { background-color: #EAF0B2; }
    .FilmPhotography { background-color: #C8E2B2; }
    .videoediting { background-color: #B2DBB9; }
    .Music { background-color: #EAF0B2; }
</style>

<div class="row mt-3">
    <!-- Education Card -->
    <div class="col-md-6">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
               <h6>Skills</h6>
                <div class="badges-container">
                <div class="badge python"><i class="fab fa-python"></i> Python</div>
                <div class="badge matlab"><i class="fa-solid fa-mountain-sun"></i> Matlab</div>
                <div class="badge cplusplus"> C++</div>
                <div class="badge java"><i class="fab fa-java"></i> Java</div>
                <div class="badge rlang"> R</div>
                <div class="break"></div>  <!-- 在这里强制换行 -->
                <div class="badge pytorch"><i class="fa-solid fa-droplet"></i></i> Pytorch</div>
                <div class="badge tensorflow"><i class="fas fa-brain"></i> TensorFlow</div>
                <div class="badge cuda"><i class="fa-solid fa-network-wired"></i> CUDA(GPU)</div>
                <div class="break"></div>  <!-- 在这里强制换行 -->
                <div class="badge Linux"><i class="fa-brands fa-linux"></i> Linux</div>
                <div class="badge arcgis"><i class="fa-solid fa-earth-americas"></i> ArcGIS</div>
                <div class="badge latex"><i class="fa-sharp-duotone fa-solid fa-leaf"></i> Latex</div>
                <div class="badge docker"><i class="fa-brands fa-docker"></i> Docker</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Experience Card -->
    <div class="col-md-6">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
               <h6>Hobbies</h6>
                <div class="badges-container">
                  <div class="badge Design"><i class="fa-solid fa-compass-drafting"></i> Design</div>
                  <div class="badge Knit"> Knit</div>
                  <div class="badge Crochet"> Crochet</div>
                  <div class="badge Fashon"><i class="fa-solid fa-shirt"></i> Fashon</div>
                  <div class="break"></div> <!-- 在这里强制换行 -->
                  <div class="badge Non-fiction"><i class="fa-solid fa-book"></i> Non-fiction</div>
                  <div class="badge Dance"><i class="fa-solid fa-street-view"></i> Dance</div>
                  <div class="badge Aerobics"><i class="fa-solid fa-person-running"></i> Aerobics</div>
                  <div class="break"></div> <!-- 在这里强制换行 -->
                  <div class="badge FilmPhotography"><i class="fa-solid fa-photo-film"></i> Film</div>
                  <div class="badge videoediting"><i class="fa-solid fa-photo-film"></i> Video Editing</div>
                  <div class="badge Music"><i class="fa-solid fa-music"></i> Pop Music</div>
                  <a class="gallery-link font-weight-bold" href=" 'Creativity' | relative_url }}" >Gallery <i class="fas fa-angle-double-right"></i></a >
                </div>
            </div>
        </div>
    </div>
</div>

    
<div class="row mt-3">
    <!-- 第3张卡片 -->
    <div class="col-md-12">  <!-- 使用 col-md-6 表示在中等及以上屏幕宽度时，每个卡片占一半的宽度 -->
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
            {% if site.data.profile.awards %}
                <h6>Honors & Awards</h6>
                <ul class="list small pl-3 mb-1">
                    {% for item in site.data.profile.awards %}
                    <li>
                        <div class="d-flex">
                            <div>{{ item.name }}</div>
                            <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</div>
