<div class="row mt-3">
    <!-- Education Card -->
    <div class="col-md-6">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                {% if site.data.profile.education %}
                <h6>Education</h6>
                <ul class="list-unstyled mb-1">
                    {% for item in site.data.profile.education %}
                    <li class="media mb-1">
                        <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                        <div class="media-body">
                            <div>{{ item.name }}</div>
                            <div class="small">{{ item.dept }}</div>
                            <div class="small d-flex">
                                <div>{{ item.position }}</div>
                                <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Experience Card -->
    <div class="col-md-6">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                {% if site.data.profile.experience %}
                <h6>Experience</h6>
                <ul class="list-unstyled mb-1">
                    {% for item in site.data.profile.experience %}
                    <li class="media mb-1">
                        <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                        <div class="media-body">
                            <div>{{ item.name }}</div>
                            <div class="small">{{ item.dept }}</div>
                            <div class="small d-flex">
                                <div>{{ item.position }}</div>
                                <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>


    
<div class="row mt-3">
    <!-- 第3张卡片 -->
    <div class="col-md-12">  <!-- 使用 col-md-6 表示在中等及以上屏幕宽度时，每个卡片占一半的宽度 -->
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
            {% if site.data.profile.awards %}
                <h6>Honors & Awards</h6>
                <ul class="list small pl-3 mb-1">
                    {% for item in site.data.profile.awards %}
                    <li>
                        <div class="d-flex">
                            <div>{{ item.name }}</div>
                            <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <!-- 第4张卡片 -->
    <div class="col-md-12">  <!-- 使用 col-md-6 表示在中等及以上屏幕宽度时，每个卡片占一半的宽度 -->
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
            <h6>Skills</h6>
            <div class="d-flex justify-content-center">
                <ul class="list-unstyled mb-1 d-flex flex-wrap justify-content-center">
                    <li class="mx-2">
                        <img alt="NPM" src="https://raster.shields.io/badge/NPM-6.14.8-blue.svg" style="width: 100px;">
                    </li>
                    <li class="mx-2">
                        <img alt="Maven" src="https://raster.shields.io/badge/Maven-3.1+-red.svg" style="width: 100px;">
                    </li>
                    <li class="mx-2">
                        <img alt="Docker" src="https://raster.shields.io/badge/Docker-19.03.12-blue.svg" style="width: 100px;">
                        <img src="https://img.shields.io/badge/-Java-black?style=flat-square&logo=java" alt="Java">
                        <img src="https://img.shields.io/badge/-Node.js-black?style=flat-square&logo=node.js" alt="Node.js">
                    </li>
                    <!-- 你可以继续添加更多的 badges -->
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style>
  .badge {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin: 2px;
  }
  .badge i {
    margin-right: 5px;
  }
</style>

<div class="badge">
  <i class="fab fa-java"></i> Java
</div>
<div class="badge">
  <i class="fab fa-node"></i> Node.js
</div>
