<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
    .badges-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .badge {
        display: inline-flex;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        margin: 5px;
        font-size: 0.9em;
    }
    .break {
        flex-basis: 100%;  /* 强制换行 */
        height: 0;         /* 不显示额外空间 */
    }
    .python { background-color: #3E2723; }
    .matlab { background-color: #263238; }
    .C++ { background-color: #3E2723; }
    .java { background-color: #263238; }
    .R { background-color: #212121; }
    .pytorch { background-color: #212121; }
    .tensorflow { background-color: #263238; }
    .CUDA(GPU) { background-color: #3E2723; }
    .bootstrap { background-color: #263238; }
    .Linux { background-color: #263238; }
    .ArcGIS { background-color: #263238; }
    .oracle { background-color: #263238; }
</style>

<div class="row mt-3">
    <!-- 第4张卡片 -->
    <div class="col-md-12">  <!-- 使用 col-md-6 表示在中等及以上屏幕宽度时，每个卡片占一半的宽度 -->
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
            <h6>Skills</h6>
            <div class="badges-container">
                <div class="badge python"><i class="fab fa-python"></i> Python</div>
                <div class="badge matlab"><i class="fab fa-matlab"></i> Matlab</div>
                <div class="badge C++"><i class="fab fa-C++"></i> C++</div>
                <div class="badge java"><i class="fab fa-java"></i> Java</div>
                <div class="badge R"><i class="fab fa-R"></i> R</div>
                <div class="break"></div>  <!-- 在这里强制换行 -->
                <div class="badge pytorch"><i class="fab fa-pytorch"></i> pytorch</div>
                <div class="badge tensorflow"><i class="fab fa-pytorch"></i> pytorch</div>
                <div class="badge CUDA(GPU)"><i class="fab fa-CUDA(GPU)"></i> CUDA(GPU)</div>
                <div class="break"></div>  <!-- 在这里强制换行 -->
                <div class="badge Linux"><i class="fab fa-Linux"></i> Linux</div>
                <div class="badge ArcGIS"><i class="fas fa-ArcGIS"></i> ArcGIS</div>
                <div class="badge mongodb"><i class="fas fa-database"></i> MongoDB</div>
                <div class="badge oracle"><i class="fas fa-database"></i> Oracle</div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <!-- Education Card -->
    <div class="col-md-6">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                {% if site.data.profile.education %}
                <h6>Education</h6>
                <ul class="list-unstyled mb-1">
                    {% for item in site.data.profile.education %}
                    <li class="media mb-1">
                        <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                        <div class="media-body">
                            <div>{{ item.name }}</div>
                            <div class="small">{{ item.dept }}</div>
                            <div class="small d-flex">
                                <div>{{ item.position }}</div>
                                <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Experience Card -->
    <div class="col-md-6">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                {% if site.data.profile.experience %}
                <h6>Experience</h6>
                <ul class="list-unstyled mb-1">
                    {% for item in site.data.profile.experience %}
                    <li class="media mb-1">
                        <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                        <div class="media-body">
                            <div>{{ item.name }}</div>
                            <div class="small">{{ item.dept }}</div>
                            <div class="small d-flex">
                                <div>{{ item.position }}</div>
                                <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>


    
<div class="row mt-3">
    <!-- 第3张卡片 -->
    <div class="col-md-12">  <!-- 使用 col-md-6 表示在中等及以上屏幕宽度时，每个卡片占一半的宽度 -->
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
            {% if site.data.profile.awards %}
                <h6>Honors & Awards</h6>
                <ul class="list small pl-3 mb-1">
                    {% for item in site.data.profile.awards %}
                    <li>
                        <div class="d-flex">
                            <div>{{ item.name }}</div>
                            <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</div>
