{% assign item = include.item %}
<div class="d-none d-md-block">
      <div class="row  px-5 gy-50">
            <img data-src="{{ item.cover1 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover1 | relative_url }}">
      </div>
        <div class="row px-5 gy-50">
            <img data-src="{{ item.cover2 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover2 | relative_url }}">
      </div>     
</div>
<style>
.media-item {
padding:40px 40px;
}
</style>
