{% assign item = include.item %}
<div class="d-none d-md-block transparent-div">
      <div class="row no-gutters">
            <div class="grid-container">
                      <div class="large-image">
                          <img data-src="{{ item.cover2_2 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover2_2 | relative_url }}">
                      </div>
                      <div class="small-image">
                          <img data-src="{{ item.cover2_1 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover2_1 | relative_url }}">
                      </div>
                      <div class="small-image">
                          <img data-src="{{ item.cover2_3 | relative_url }}" alt="Media" class="lazy w-100 rounded-sm media-item" src="{{ item.cover7_3 | relative_url }}">
                      </div>
                      <div class="caption">
                          <p>With a ball of yarn and two needles, weaving becomes a form of yoga for the soul, as I craft adorable and heartwarming dolls with my own hands.</p>
                      </div>
                  </div>
      </div>
      
</div>


<style>
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 300px);
    gap: 10px;
}

.large-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.small-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption {
    grid-column: 1 / 3;
    text-align: left;
    font-size: 14px;
    color: #666;
}
</style>
