<style>
    .button {
        display: block;
        width: calc(100% - 5px);
        padding: 10px;
        margin: 10px auto;
        color: grey;
        text-decoration: none;
        text-align: center;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid grey;
    }
</style>
<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col">
                        <div class="h1 font-weight-bold">
                            {{ site.data.profile.primary_name }} <small>{{ site.data.profile.secondary_name }}</small>
                        </div>
                        <div><small>
                            (Schweppes, 徐怡泉)
                        </small>
                        </div>
                        <div class="text-profile-bio mt-3 text-muted">
                            {{ site.data.profile.short_bio }}
                        </div>
                    </div>
                    {% if site.data.profile.portrait_url %}
                    <div class="col-md-auto">
                        <figure class="figure d-flex align-items-center justify-content-center" style="min-height: 20vh">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="figure-img img-fluid img-thumbnail" 
                                style="height: 250px;"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}"
                            >
                            <figcaption class="figure-caption text-right"></figcaption>
                        </figure>

                        <center style="line-height: 2; display: flex; justify-content: center;">
                            <a href="{{ site.data.profile.cv }}" class="button">Curriculum Vitae</a>
                        </center>
                        <div class="row" style="line-height: 2;" >
                            <a class="pr-3 no-break" target="_blank" style="color: grey" href="mailto:{{ site.data.profile.email | encode_email }}" >
                               <i class="fa-solid fa-envelope" style="color: grey"></i>
                            </a>
                            <a class="pr-3 no-break" target="_blank" style="color: grey" href="https://github.com/{{ site.data.profile.github }}">
                                <i class="fab fa-github" style="color: grey"></i>
                            </a>
                            <a class="pr-3 no-break" target="_blank" style="color: grey" href="https://twitter.com/{{ site.data.profile.twitter }}">
                                <i class="fab fa-twitter" style="color: grey"></i>
                            </a>
                            <a class="pr-3 no-break" target="_blank" style="color: grey" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                                <i class="fab fa-linkedin" style="color: grey"></i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
        
                </div>
            </div>
        </div>        
    </div>
</div>

{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode }}" class="img-fluid">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
